.main-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.main-card img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-card {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px; 
}